.main-text
{
    position: absolute;
    top: 10px;
    width: 80%;
    color: black;
    background: transparent;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin : 10px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
.main-text h3 
{
    font-size: 13px;
}
.main-text h1 
{
    font-size: 14px;
}
/* News Ticker */
#ticker_container {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #FFFFFF;
  padding: 10px;
  border: 1px solid #343434;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: auto;
}
